{% extends 'base.html' %}

{% block content %}
<h1 class="container">WELCOME TO TOURS</h1>
{% for tour in tours %}
<div class="container w-75">
    {% for category, message in get_flashed_messages(True) %}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        <strong></strong> {{ message }}.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <div class="card text-white bg-dark mt-3" style="width: 18rem;">
        <h4>{{ tour }} | {{ tour.time.strftime("%Y.%m.%d") }} </h4>
        <a class="btn text-decoration-none text-primary" href="{{ url_for('book_tour', tour_id=tour.id) }}">Book</a>
        {% if current_user.is_admin %}
        <a class="card bg-dark border-warning text-decoration-none text-light"
           href="{{ url_for('edit_tour', tour_id=tour.id) }}">Edit</a>
        {% endif %}
    </div>
</div>
<p></p>
{% endfor %}
{% endblock %}