{% extends "base.html" %}

{% block content %}
<div class="container w-75">
    <div class="card mt-3 mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ current_user }}</h5>
        </div>
    </div>

    {% for post in user_posts %}
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-white bg-dark">Name: {{ post.title }}</li>
            <li class="list-group-item text-white bg-dark">Category: {{ post.category }}</li>
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}