{% extends "base.html" %}

{% block content %}
<div class="container w-75 mt-5">
    <div class="card text-dark border-warning bg-white mb-3" style="max-width: 18rem;">
        <div class="card-header">{{ current_user }}</div>
        <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>
{% endblock %}