{% extends 'base.html' %}

{% block content %}
<h1 class="container mb-5">{{ category }} posts</h1>

{% for post in posts %}
<div class="card container mb-3">
    <h5 class="card-header">ID: {{ post.id }}</h5>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
        <p class="card-text">{{ post.author }}</p>
        <a href="{{ url_for('post_by_id', id=post.id) }}" class="btn btn-primary">Detailed</a>
    </div>
</div>
{% endfor %}
{% endblock %}