{% extends 'base.html' %}

{% block content %}
<h1>Sign up</h1>

<form action="/signup" method="post">
    <div>
        <label>Name</label>
        <div>
            <input name="name" type="text">
        </div>

        <label>Email</label>
        <div>
            <input name="email" type="email">
        </div>

        <label>Password</label>
        <div>
            <input name="password" type="text" required>
        </div>
    </div>

    <button type="submit">Sign up</button>
</form>

{% endblock %}